<a href="https://colab.research.google.com/github/WilliamPoe/CSCI-290/blob/main/notebooks/Attribute_selection_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Attribute Selection Method

In [26]:
import pandas as pd
import numpy as np

In [47]:
def entropy (df, col):
  count = df[col].value_counts()
  prob = count / len(df[col])
  entpy = -np.sum(prob*np.log2(prob))
  print("Entropy: /n", entpy)
  return entpy

In [ ]:
def Gimpurity (df, col):
  print("Gini impurity")

In [45]:
def Attribute_selection_method ( df, measure, attribs, target ):
  if measure == '1':
    target_entropy = entropy(df, target)

    for attrib in attribs[2:]:
      values = df[attrib].unique()
      print("These are the", values ,"for", attrib)
      for value in values:
        subset = df[df[attrib] == value]
        weight = len(subset) / len(df)
        print(weight)
        attrib_entropy =
        break
      break
  else:
    Gimpurity = 1-np.sum(prob**2)
    print(Gimpurity)

In [13]:
def main ():
  df = pd.read_csv("https://github.com/WilliamPoe/CSCI-290/raw/main/Data/ad_click_dataset.csv")
  attribs = []
  print(df.columns)
  target = str(input("What is your target column?: "))
  for col in df.columns:
    if col != target:
      attribs.append(col)
  measure = input("Would you like to use: \n1. Entropy \n2. Gini impurity \nSelection:")
  Attribute_selection_method(df, measure, attribs, target)

In [46]:
main()

Index(['id', 'full_name', 'age', 'gender', 'device_type', 'ad_position',
       'browsing_history', 'time_of_day', 'click'],
      dtype='object')
What is your target column?: click
Would you like to use:
1. Entropy
2. Gini impurity
Selection:1
click
1    6500
0    3500
Name: count, dtype: int64
click
1    0.65
0    0.35
Name: count, dtype: float64
Entropy:

0.934068055375491
These are the [22. nan 41. 34. 39. 26. 40. 47. 19. 56. 24. 52. 42. 36. 43. 62. 45. 37.
 31. 58. 59. 48. 38. 49. 30. 46. 54. 44. 27. 57. 28. 51. 25. 61. 32. 64.
 23. 55. 21. 20. 35. 53. 33. 29. 63. 50. 18. 60.] for age
        id full_name   age  gender device_type ad_position browsing_history  \
0      670   User670  22.0     NaN     Desktop         Top         Shopping
83    8996  User8996  22.0  Female     Desktop         NaN    Entertainment
353   8947  User8947  22.0    Male         NaN         NaN    Entertainment
355    670   User670  22.0     NaN     Desktop         NaN         Shopping
357   3232  User3232  22.0     NaN      Tablet      Bottom              NaN
...    ...       ...   ...     ...         ...         ...              ...
9183  8947  User8947  22.0    Male     Desktop      Bottom    Entertainment
9433  6657  User6657  22.0     NaN         NaN      Bottom             News
9492   670   User670  22.0     NaN     Desktop         Top              NaN
9679  8947  User8947  22.0     NaN     Desktop      Bottom              NaN
9792  8807  User8807  22.0    Male      Mobile        Side        Education

     time_of_day  click
0      Afternoon      1
83       Evening      0
353          NaN      1
355    Afternoon      1
357        Night      0
...          ...    ...
9183       Night      1
9433       Night      1
9492   Afternoon      1
9679       Night      1
9792     Evening      0

[93 rows x 9 columns]
0.0093